body {
  margin: 0;
  font-family: "Segoe UI", "Roboto", "Sans-serif";

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(245, 240, 240);


}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.css-0 {
  background-color: white;
}


h3{
  font-size: 20px;
}
h4{
  font-size: 18px;
  padding: 0 3px;
}
button{
  font-size: 14px;
}

input{
  font-size: 14px;
}

label{
  font-size: 18;
}